extend /index


append vars
    -
        var title = D.displayname
        var description = D.displayinfo
        var image = D.properties.photo.values ? 'https://poola.entu.ee/api2/file-' + D.properties.photo.values[0].db_value : null

        var values = function (object) {
            var result = []
            for(var key in object) {
                if (!object.hasOwnProperty(key)) { continue }
                result.push(object[key])
            }
            return result
        }

        var properties = values(D.properties)

        if (properties) {
            properties.sort(function (a, b) {
                if (a.ordinal < b.ordinal) {
                    return -1
                } else if (a.ordinal > b.ordinal) {
                    return 1
                } else {
                    return 0
                }
            })
        }


block content
    .margin.col-xs-12.col-sm-10.col-md-9.col-md-offset-1
        h1= D.displayname
        .list-item.hidden(data-geo=D.properties.geo.values[0].value, data-info=D.displayinfo)

        dl.dl-horizontal.margin
            each p in properties
                if p.values && ['path', 'photo', 'googleMaps', 'geo', 'name'].indexOf(p.dataproperty) === -1
                    dt= p.label
                    dd
                        each v in p.values
                            != G.md(v.value)


block footer
    #footer.container-fluid
        .row
            a.col-xs-12.text-center(href='/')
                span.glyphicon.glyphicon-chevron-left
