body
    font-size 16px
    font-family 'PT Sans', sans-serif
    font-weight 400

a
    color #003046

    &:hover
    &:active
    &:focus
        text-decoration none

h1
    font-size 24px
    font-weight 700
    line-height 30px
    color #003046

pre
    border none
    border-radius 0px

.margin
    margin-top 40px

.list-item
    padding-top 10px
    padding-bottom 10px
    border-top 1px solid #d1d1d1

    &:first-child
        border-top none

#map-container
    position fixed
    top 0px
    left 0px
    right 0px
    padding-bottom 200px
    background #ffffff
    z-index -100

#content
    background #ffffff
    border-top 1px solid #d1d1d1
    border-bottom 1px solid #d1d1d1

#image
    position fixed
    left 0px
    right 0px
    bottom 0px
    background-size cover
    background-position center center
    z-index -200

#footer
    background #ffffff

    a
        padding-top 20px
        padding-bottom 20px
        font-size 30px
        line-height 30px
        color #8B8B8B
